<div class="row">
    <div class="col-md-3 hidden-sm hidden-xs" style="height:100%">
            <img src="/images/familyAndFriend/jasonAndMechile.jpg" width="220" alt="" style="position:absolute;bottom:50px;right:0px;" class="imgfriendLeft" ng-if="bool1">
    </div>
    <div class="col-md-6" style="height:100%">
        <img src="/images/familyAndFriend/myfriends.jpg" width="500" alt="" style="position:absolute;bottom:50px;left:50%;margin-left: -250px;" class="imgfriendMiddle" ng-if="bool1">
    </div>
    <div class="col-md-3 hidden-sm hidden-xs" style="height:100%">
        <img src="/images/familyAndFriend/peterandsoliter.jpg" width="240" alt="" style="position:absolute;bottom:50px;left:0px;" class="imgfriendRight" ng-if="bool1">
    </div>
</div>
