    <div class="carousel-caption Header01" style="position: absolute; top: 30px;" ng-if="bool0">
        <div class="textDisplay row">
            <div class="col-sm-3" >
                <img src="/Images/arthurNew.jpg" height="120" style="border-width: 0px; -ms-border-radius: 60px; border-radius: 60px;">
                <p style="color: #f7f20b;">Arthur Lu</p>
            </div>
            <div class="col-sm-9">
                <div style="text-align:left;">
                    <h5 style="color: #f7f20b;font-size:16px">Introduction: My name is Arthur Qingjiang Lv. I am a <a style="cursor:pointer;color:white" ng-click="open('image','/images/certifications/mcp.jpg')">Microsoft Certified ASP.NET MVC Web Application&amp;Programming in C# Professional</a> working for Manchestermore &amp; More Company. I graduated from Jilin University of China and I have a master degree of the computer science. My major is the computer engineering. I have be involved in IT industry for more than 10 years and I also have three years’ local working experience in New Zealand. </h5>
                    <h5 style="color: #f7f20b;font-size:14px"><img src="/Images/email.png" style="border-width: 0px;margin-right: 5px;">Email:arthur.lv6@gmail.com <img src="/Images/phone.png" style="border-width: 0px;margin-right: 5px;">Phone:021-057-8463</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-caption Video01 row visible-lg" style="position: absolute; bottom: 10px;" ng-if="bool0">
        <div ng-include="'/app/_smallPictures.html'"></div>
    </div>
