<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3 id="Test">Technique skills</h3>
            <blockquote>
                <p class="text-info">
                    <small>
                        I am proficient in MS.Net framework including ASP.NET, design pattern,
                        C#, Entity framework, MVC, WEB API2, Web form, Silverlight, WPF, WCF, Web Services, WindowsAzure Server and relevant technique such as HTML5, AJAX, jQuery, Javascript, CSS, Bootstrap and the like.
                    </small>
                </p>
                <p class="text-info">
                    <small>
                        I am good at using Xamarin.Form to develop IOS, Android and Windows phone appliations.
                    </small>
                </p>
                <p class="text-info">
                    <small>
                        Many years working experience in databases for instance SQL SERVER, ORACLE.
                    </small>
                </p>
            </blockquote>
            <h3 id="Test">Other skills</h3>
            <blockquote>
                <p class="text-info">
                    <small>
                        I fully understand software developing methods(SDLC) for example Agile (XP) and scrum.
                    </small>
                </p>
                <p class="text-info">
                    <small>
                        I am good at using Github as my source control server and Trello as my project management tools.
                    </small>
                </p>

            </blockquote>
            <h3>Industry experience</h3>
            <blockquote>
                <p class="text-info">
                    <small>
                        Retail inventory management and online trade system.
                    </small>
                </p>
                <p class="text-info">
                    <small>
                        Hire-to-purchase management system.
                    </small>
                </p>
                <p class="text-info">
                    <small>
                        Freight integration system.
                    </small>
                </p>
                <p class="text-info">
                    <small>
                        CRM, ERP for manufactures.
                    </small>
                </p>
                <p class="text-info">
                    <small>
                        Apartment property management system for government.
                    </small>
                </p>
                <p class="text-info">
                    <small>
                        Hospital and health insurance management systems.
                    </small>
                </p>
            </blockquote>
        </div>
        <div class="col-md-4">
            <h3>Github Open source</h3>
            <blockquote>
                <a href="https://github.com/arthurlv6/WebApiAngularJS" target="_blank">WebApi+AngularJS APP</a>
                <br>
                <ol style="font-size: font-size: 80%;">
                    <li>
                        <small>
                            Authentication and Authorization
                        </small>
                    </li>
                    <li>
                        <small>
                            Search by condition
                        </small>
                    </li>
                    <li>
                        <small>
                            Simple add data to database
                        </small>
                    </li>
                </ol>
                <a href="https://github.com/arthurlv6/WCFAndMVCWebsite" target="_blank">WCF+MVC5 APP</a><br>
                <ol style="font-size: font-size: 80%;">
                    <li>
                        <small>
                            Simply add,delete and edit.
                        </small>
                    </li>
                    <li>
                        <small>
                            Server cache
                        </small>
                    </li>
                    <li>
                        <small>
                            AJAX,JSON AND JQuery
                        </small>
                    </li>
                </ol>
                <a href="https://github.com/arthurlv6/MVC5" target="_blank">MVC5+EntityCodefirst+Identity2</a>
                <br>
                <ol style="font-size: font-size: 80%;">
                    <li>
                        <small>
                            Global Server Exception control in Global.asax.cs
                        </small>
                    </li>
                    <li>
                        <small>
                            Exception control for controllers
                        </small>
                    </li>
                    <li>
                        <small>
                            To get specific file by overriding ActionResult, take getting excel file for example.
                        </small>
                    </li>
                    <li>
                        <small>
                            Global action filter for IP restriction
                        </small>
                    </li>

                    <li>
                        <small>
                            Data cache usage in management controller
                        </small>
                    </li>
                    <li>
                        <small>
                            Implement Dependence injection by using structureMap
                        </small>
                    </li>
                    <li>
                        <small>
                            Universal Search and List template
                        </small>
                    </li>
                    <li>
                        <small>
                            Image show
                        </small>
                    </li>
                    <li>
                        <small>
                            Async feature in the controller and the respository
                        </small>
                    </li>
                    <li>
                        <small>
                            Using justmock to fully test the edit function.
                        </small>
                    </li>
                </ol>
                <a href="https://github.com/arthurlv6/angularCV" target="_blank">Angular Animation CV</a>
            </blockquote>
            <h3>Live online show</h3>
            <blockquote>
                <a href="http://flexibleinventory.com/" target="_blank">•Inventory management system (MVC)</a>
                <br>
                <a href="http://ishoppersnz.com/" target="_blank">•Online trade website (MVC)</a>
                <br>
                <a href="http://example.flexibleinventory.com/" target="_blank">•Online shopping Demo (MVC+Web API 2.0)</a>
                <br>
                <a href="http://mcdonaldspetstore.com/" target="_blank">•Pet Store (MVC+Web Api 2.0)</a>
                <br>
                <a href="http://sky.ishoppersnz.com/netsky.aspx" target="_blank">•Netsky (Silverlight)</a>
                <br>
                <a href="http://vineyard.arthurcv.com/" target="_blank">•Vineyard dealers (MVC)</a>
                <br>
                <a href="http://responsive.arthurcv.com/" target="_blank">•Responsive Page (Bootstrap)</a>
                
                <br>
                <a href="http://multiplelanguages.arthurcv.com/" target="_blank">•Multiplelanguages Page (MVC)</a>
                <br>
            </blockquote>
            <h3>Smartphone Application</h3>
            <blockquote>
                <a href="https://play.google.com/store/apps/details?id=com.monitor.admin&amp;hl=en" target="_blank">•Monitor For Admin (Xamarin.Form+Web API2.0)</a>
                <br>
            </blockquote>
            
        </div>
        <div class="col-md-4">
            <h3>Qualification</h3>
            <blockquote>
                <p class="text-info">
                    <small>
                        <a style="cursor:pointer" ng-click="open('image','/images/certifications/cprogramming.jpg')" >
                            31 March 2015：Microsoft Certified Professional of Programming in C#
                        </a>
                    </small>
                </p>
                <p class="text-info">
                    <small>
                        <a style="cursor:pointer" ng-click="open('image','/images/certifications/mvcweb.jpg')">
                            1 March 2015：Microsoft Certified Professional of ASP.NET MVC Web Applications
                        </a>
                    </small>
                </p>
                <p class="text-info">
                    <small>03.2004 – 12.2006：Master of Software Engineering in Jilin University, China</small>
                </p>
                <p class="text-info">
                    <small>05.1998 – 10.2000：Bachelor of Computer and application in Jilin University, China</small>
                </p>
                <p class="text-info">
                    <small>2006：Training of BEA WEBLOGIC Application AND Developing</small>
                </p>
                <p class="text-info">
                    <small>2004：Training of Microsoft Project Manager</small>
                </p>
                <p class="text-info">
                    <small>2002：Certificate of SYBASE Enterprise Application Server Administration</small>
                </p>
                <p class="text-info">
                    <small>2001：Certificate of IBM AIX UNIX V4.3 System Administrator</small>
                </p>
            </blockquote>
        </div>
    </div>
</div>